<div id="<%= dom_id post %>" class="rounded p-1 mb-10">
  <h1> 
    <%= post.title %>
  </h1>
  <h5><%= post.created_at.strftime("%m/%d/%Y") %></h5>
  <% if is_admin? %>
    <h5><%= pluralize(post.views, "View") %></h5>
  <% end %>
  
  <p>
    <%= post.body %>
  </p>

</div>
